$block-background: #fdebba

#blocks-output-wrapper
    min-height: 100%
    width: 100%
    overflow: auto
    box-sizing: border-box

#blocks
    display: flex
    flex-direction: column
    margin: 0 auto
    width: max-content
    padding: 40px

.block
    display: block
    position: relative
    padding: 10px
    background: $block-background
    margin: 20px auto
    position: relative
    filter: drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 1px #000)

.block-start,
.block-end
    text-align: center
    border-radius: 20px
    width: 200px

.block-io
    min-height: 40px
    line-height: 40px
    padding: 0
    &:before
        content: ""
        border-style: solid
        border-width: 20px 15px 20px 15px
        border-color: transparent $block-background $block-background transparent
        position: absolute
        left: -30px
    &:after
        content: ""
        border-style: solid
        border-width: 20px 15px 20px 15px
        border-color: $block-background transparent transparent $block-background
        position: absolute
        right: -30px

.block-if
    height: 40px
    padding: 0
    line-height: 40px
    text-align: center
    margin: 20px auto
    postition: relative
    //box-sizing: border-box
    &:before
        content: ""
        border-style: solid
        border-width: 20px 30px 20px 0
        border-color: transparent $block-background transparent transparent
        position: absolute
        left: -30px

    &:after
        content: ""
        border-style: solid
        border-width: 20px 0px 20px 30px
        border-color: transparent transparent transparent $block-background
        position: absolute
        right: -30px

.block-wrapper
    background-color: #00000011
    position: relative
    display: flex
    flex-direction: column

.if-wrapper
    padding: 10px 40px