#blocks-output-wrapper {
  min-height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#blocks {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 20px 0;
}

.block {
  font-size: 10px;
  display: block;
  padding: 18px;
  background: #fdebba;
  margin: 10px auto;
  width: auto;
  -webkit-filter: drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 1px #000);
          filter: drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 1px #000);
}

.block-start,
.block-end {
  text-align: center;
  border-radius: 20px;
  width: 70px;
  height: 40px;
  line-height: 40px;
  padding: 0;
}

.block-sum {
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.block-io {
  min-height: 40px;
  line-height: 40px;
  padding: 0;
}

.block-io:before {
  content: "";
  border-style: solid;
  border-width: 20px 15px 20px 15px;
  border-color: transparent #fdebba #fdebba transparent;
  position: absolute;
  left: -30px;
}

.block-io:after {
  content: "";
  border-style: solid;
  border-width: 20px 15px 20px 15px;
  border-color: #fdebba transparent transparent #fdebba;
  position: absolute;
  right: -30px;
}

.block-wrapper {
  background-color: #6124000a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.if-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [false] auto [true] auto [end];
      grid-template-columns: [false] auto [true] auto [end];
  grid-templete-rows: 50px auto;
}

.if-true-wrapper,
.if-false-wrapper {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  margin: 10px;
  padding: 0 20px;
}

.if-true-wrapper {
  grid-column: true / span 1;
}

.if-false-wrapper {
  grid-column: false / span 1;
}

.block-if {
  grid-column: 1 / end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  height: 40px;
  padding: 0;
  line-height: 40px;
  text-align: center;
  margin: 20px auto;
  position: relative;
}

.block-if:before {
  content: "";
  border-style: solid;
  border-width: 20px 30px 20px 0;
  border-color: transparent #fdebba transparent transparent;
  position: absolute;
  left: -30px;
}

.block-if:after {
  content: "";
  border-style: solid;
  border-width: 20px 0px 20px 30px;
  border-color: transparent transparent transparent #fdebba;
  position: absolute;
  right: -30px;
}

.for-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 300px;
}

.for-body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.for-body-wrapper .block-if {
  left: -40px;
}

.for-sum-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
/*# sourceMappingURL=blocks.css.map */